body {
  padding: 10px;
  font-family: sans-serif;
}

img {
  border-radius: 2%;
}

.TopNavBar {
  background-color: #2991d6;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 20%;
}